In [1]:
x = 1
type(x)

int

In [2]:
def add_num(x,y):
    return x+y
type(add_num)

function

# Sequences

In [3]:
#tuple - immutable, we can't change them after we create them
x = (1,2,'3','b')
type(x)

tuple

In [4]:
#list - we can change them
y = [1,2,3,'a','b']
type(y)

list

In [5]:
y.append(5)
print(y)

[1, 2, 3, 'a', 'b', 5]

In [6]:
#tuple - this will give error
x.append(5)
print(x)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
#looping through the tuple or list
#for loop
for item in y:
    print(item)

1
2
3
a
b
5

In [8]:
#while loop
i = 0
while ( i != len(x)):
    print(x[i])
    i = i + 1

1
2
3
b

In [27]:
#Dictionaries - Prof. Brooks other languages have similar constructs but they call these Maps
phonebook = {'Liyon':123,'Alan':456,'Ben':567,'Che':999}
print(phonebook)
print(phonebook['Liyon'])

{'Liyon': 123, 'Alan': 456, 'Ben': 567, 'Che': 999}
123

In [29]:
phonebook['Diana'] = 234
print(phonebook)

{'Liyon': 123, 'Alan': 456, 'Ben': 567, 'Che': 999, 'Diana': 234}

In [30]:
for name in phonebook:
    print(phonebook[name])

123
456
567
999
234

In [32]:
for number in phonebook.values():
    print(number)

123
456
567
999
234

In [33]:
for name,number in phonebook.items():
    print(name)
    print(number)

Liyon
123
Alan
456
Ben
567
Che
999
Diana
234

In [35]:
myprofile = ('Leonard Cohen','Leonard.Cohen@gmail.com','1234567890')
name,email,phone = myprofile
print(name)
print(email)
print(phone)

Leonard Cohen
Leonard.Cohen@gmail.com
1234567890

In [36]:
mydetails = ['Leonard Cohen','Leonard.Cohen@gmail.com','1234567890']
name,email,phone = myprofile
print(name)
print(email)
print(phone)

Leonard Cohen
Leonard.Cohen@gmail.com
1234567890

In [39]:
mydictionary = {'name':'Ben Kingsley','email':'Ben.Kingsley@gmail.com',
                'number':'567890'}
name,email,phone = myprofile
print(name)
print(email)
print(phone)

Leonard Cohen
Leonard.Cohen@gmail.com
1234567890

# String Operations

In [9]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [10]:
4 * [2]

[2, 2, 2, 2]

In [12]:
5 in [4,5,'a','b']

True

In [13]:
6 in [4,5,'a','b']

False

In [16]:
demo = 'Good morning'
demo[0]

'G'

In [18]:
print(demo[0:4])
print(demo[:4])
print(demo[4:])
print(demo[-2])
print(demo[:-3])
print(demo[-3:])

Good
Good
 morning
n
Good morn
ing

In [21]:
firstname = "Liyon"
lastname = "SV"
fullname = firstname + ' '+ lastname
print(fullname)

Liyon SV

In [22]:
givenname = fullname.split(' ')[0]
surname = fullname.split(' ')[1]
print(givenname)
print(surname)

Liyon
SV

In [23]:
'SV' in firstname

False

In [24]:
'SV' in lastname

True