In [2]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 
         'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])
          (person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + 
                                                    person.split()[-1], people))

True
True
True
True

True

In [3]:
dummy_function = lambda a,b,c:a+b

In [4]:
dummy_function(1,2,3)

3

In [5]:
dummy_function(10,22,37)

32

let's pause this course for a moment - don't you think its going a bit too fast
without any good examples? that example was so confusing, don't know why they created it
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

# Lambda

## variable_name = lambda_keyword argument_or_list_of_inputs : expression_or_return_result

In [1]:
#first let's define a normal function
def multiply(a,b):
    return a*b

multiply(5,6)

30

In [4]:
#now let's use lambda
multiply_using_lambda = lambda a,b : a*b

multiply_using_lambda(5,6)

30

In [5]:
multiply_using_lambda

In [6]:
#define a lambda function that returns square of a value
square = lambda a : a*a

square(5)

25

In [12]:
#get 3 values and return a list

list_lambda = lambda a,b,c : [a,b,c]
    
list_lambda('apple',2,3)

['apple', 2, 3]

In [13]:
#get a string and return the first character of a string

return_first_character = lambda input_string : input_string[0]

return_first_character('hello')

'h'

In [15]:
#return length

return_length = lambda input_string : len(input_string)

return_length('Good Morning')

12

# lambda using lists

In [17]:
#create a function to get a list and square the items in it 

number_list = [1,2,3,4,5]

def square_list(input_list):
    squared_list = []
    for item in input_list:
        square = item * item
        squared_list.append(square)
    return squared_list

square_list(number_list)

[1, 4, 9, 16, 25]

In [19]:
#use map
#map syntax:
#map(function,list)

def square_numbers(item):
    return item * item

map(square_numbers,number_list)

#convert map object to a list
list(map(square_numbers,number_list))

[1, 4, 9, 16, 25]

In [20]:
#use lambda

square_lambda = lambda item : item * item

list(map(square_lambda,number_list))

[1, 4, 9, 16, 25]

In [21]:
#making it compact ie, get rid of the function and put lambda inside map

list(map(lambda item : item * item , number_list))

[1, 4, 9, 16, 25]

In [24]:
#convert a list of words to upper case
breakfast_menu = ['tea','coffee','biscuits']

list(map(lambda element : element.upper(), breakfast_menu))

['TEA', 'COFFEE', 'BISCUITS']

In [25]:
#converst list of sentences to lower case
sentences = ['I had breakfast','I am having lunch','I will have dinner']

list(map(lambda sentence : sentence.lower(),sentences))

['i had breakfast', 'i am having lunch', 'i will have dinner']

# Lambda with conditions

In [26]:
#a function that returns true if value is even, false if odd
def odd_even(number):
    if (number%2==0):
        return True
    else:
        return False
    
odd_even(4)

True

In [27]:
odd_even(5)

False

In [29]:
#use lambda
odd_even_lambda = lambda number : True if number%2 == 0 else False

odd_even_lambda(6)

True

In [30]:
odd_even_lambda(7)

False

In [31]:
#normal function - filter out even numbers from a list
numbers = [12,23,34,45,56,67,78,89,90]

def filter_even(numbers_list):
    even_numbers = []
    for number in numbers_list:
        if(number%2==0):
            even_numbers.append(number)
    return even_numbers

filter_even(numbers)

[12, 34, 56, 78, 90]

In [32]:
#using filter function
#syntax - filter(function_name,list of objects) -> returns the items for which function 
#returned true
#filter can iterate through the list of objects like map
#see the example using lambda for this

#just recreate our old function
def odd_even(number):
    if (number%2==0):
        return True
    else:
        return False

In [34]:
filter(odd_even,numbers)

In [35]:
#convert the filter object to list ie, cast it
list(filter(odd_even,numbers))

[12, 34, 56, 78, 90]

In [36]:
#how about using our old lambda
#use lambda
odd_even_lambda = lambda number : True if number%2 == 0 else False

In [37]:
list(filter(odd_even_lambda,numbers))

[12, 34, 56, 78, 90]

In [38]:
list(filter(lambda number : True if number%2 == 0 else False,numbers))

[12, 34, 56, 78, 90]

In [41]:
#filter out the names starting with 'S'
names = ['Vivaan','Aarav','Krishna','Shazin','Indhu','Shiyon','Liyon','Niyon','Shilna','Kiran']

list(filter(lambda name : True if name[0]=='S' else False,names))

['Shazin', 'Shiyon', 'Shilna']

In [47]:
#names starting with K but with length 5


list(filter(lambda name : True if (name[0]=='K') and (len(name)==5) else False,names))

['Kiran']

In [48]:
#mulitply odd by 10 and even by 100
list(map(lambda number: number*100 if number%2==0 else number*10,numbers))

[1200, 230, 3400, 450, 5600, 670, 7800, 890, 9000]

# Lambda and sorting

In [49]:
#a list of objects that contains products as tuples
products = [('Carrot',2),('Apple',10),('Egg',12),('Banana',5),('Dry Fruits',20)]

#sort it alphabetically
products.sort()
products

[('Apple', 10), ('Banana', 5), ('Carrot', 2), ('Dry Fruits', 20), ('Egg', 12)]

In [50]:
#using lambda - sort by price
products.sort(key = lambda item : item[1])

products

[('Carrot', 2), ('Banana', 5), ('Apple', 10), ('Egg', 12), ('Dry Fruits', 20)]

In [55]:
# a list of dictionaries
employees = [
                {"name":"Charles","Age": 34,"Income":30000},
                {"name":"Alex","Age":25 ,"Income":50000},
                {"name":"Emily","Age": 45,"Income":10000},
                {"name":"Ben","Age": 23,"Income":40000},
                {"name":"Dick","Age":33 ,"Income":20000},
            ]
employees

[{'name': 'Charles', 'Age': 34, 'Income': 30000},
 {'name': 'Alex', 'Age': 25, 'Income': 50000},
 {'name': 'Emily', 'Age': 45, 'Income': 10000},
 {'name': 'Ben', 'Age': 23, 'Income': 40000},
 {'name': 'Dick', 'Age': 33, 'Income': 20000}]

In [57]:
#sort by name
#employees.sort()-gives error

employees.sort(key = lambda person : person["name"])
employees

[{'name': 'Alex', 'Age': 25, 'Income': 50000},
 {'name': 'Ben', 'Age': 23, 'Income': 40000},
 {'name': 'Charles', 'Age': 34, 'Income': 30000},
 {'name': 'Dick', 'Age': 33, 'Income': 20000},
 {'name': 'Emily', 'Age': 45, 'Income': 10000}]

In [59]:
#based on income
employees.sort(key = lambda person : person["Income"])
employees

[{'name': 'Emily', 'Age': 45, 'Income': 10000},
 {'name': 'Dick', 'Age': 33, 'Income': 20000},
 {'name': 'Charles', 'Age': 34, 'Income': 30000},
 {'name': 'Ben', 'Age': 23, 'Income': 40000},
 {'name': 'Alex', 'Age': 25, 'Income': 50000}]