In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1643408465.666419

In [5]:
#I have no idea what the above one shows
#okay looks like that gives the current date and time in a form no one cares
#so lets convert that to year,month,day,hour,minutes,second,milliseconds?

dateTimeNow = dt.datetime.fromtimestamp(tm.time())
dateTimeNow

datetime.datetime(2022, 1, 29, 9, 23, 52, 816433)

In [7]:
dateTimeNow.year,dateTimeNow.month,dateTimeNow.day

(2022, 1, 29)

In [8]:
dateTimeNow.hour,dateTimeNow.minute,dateTimeNow.second

(9, 23, 52)

In [9]:
#what is this? a time object with 100 days
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [10]:
today = dt.date.today()

In [11]:
today

datetime.date(2022, 1, 29)

In [12]:
today-delta

datetime.date(2021, 10, 21)